* {
  margin: 0;
  padding:0;
}

.title {
  padding: 5px;
  text-align: center;
  font-size: 150%;
}

.board {
  border: 5px solid black;  
  
}


.card-grid {
  display: grid;
  grid-template-columns: repeat(5, 80px);
  gap: 10px;
  justify-content: center;
  padding: 50px;
  
}


/*
.card-grid {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(5, 80px);
  grid-template-rows: repeat(5, 80px);
  justify-content: center;
  padding: 50px;
}
  */
  













