* {
  margin: 0;
  padding:0;
}

.title {
  padding: 5px;
  text-align: center;
  font-size: 150%;
}

.board {
  border: 5px solid black;  
}

.card-grid {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(5, 80px);
  grid-template-rows: repeat(5, 80px);
  justify-content: center;
  padding: 50px;
}

.card {
  text-align: center;
  align-content: center;
  border-radius: 0px;
  border: 2px solid grey;
  font-size: 150%;
  color: black;
}

.green {
  background-color: green;
}

.white {
  background-color: white;
}











