@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding:0;
}

.title {
  padding: 5px;
  text-align: center;
  font-size: 110%;
  border: 1px solid gray;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  gap: 5px;
  justify-content: center;
  padding: 50px;
  
}

/* CARD STYLES */
.card {
  position: relative;
  align-items: center;
  justify-content: center;
  border: 2px solid grey;
  transform: rotateY(180deg);
  animation: 1s hideCard linear;
  background-color: white;
  transition: transform 0.5s
 
}

@keyframes hideCard{
  0%, 70%{
    transform: rotateY(0);
  }
  100%{
    transform: rotateY(180deg);
  }
}

.card div {
  width: 80px;
  height: 80px;
  align-content: center;
  text-align: center;
  font-size: 150%;
  font-weight: bold;
  transition: transform 0.5s;
  transform: scale(0);
  animation: 1s hideDiv linear;
}

@keyframes hideDiv{
  0%, 70%{
    transform: scale(1);
  }
  100%{
    transform: scale(0);
  }
}

.card.active{
  transform: rotateY(0);
}


.correct {
  background-color: rgb(18, 182, 18);
}

.gray{
  background-color: gray;
}

.yellow {
  background-color: yellow;
}

.card.active div {
  transform: scale(1);
}

/* TEXT DISPLAY */
.display-box {
  display: flex;
  align-content: center;
  justify-content: center;
}

.text-display {
  display: flex;
  border-bottom: 3px solid black;
  width: 350px;
  height: 50px;
  align-content: center;
  justify-content: center;
  font-size: xx-large;
}



  













