.card {
  position: relative;
  /*
  text-align: center;
  align-content: center;
  border: 2px solid grey;
  */
}

.card div {
  width: 80px;
  height: 80px;
  display: block;
  border: 2px solid grey;
  border-radius: 6px;
}


.front {
  position: relative;
  text-align: center;
  align-content: center;
  
}

.back {
  position: relative;
  text-align: center;
  align-content: center;
  
}




/*
.card {
    text-align: center;
    align-content: center;
    border-radius: 0px;
    border: 2px solid grey;
    font-size: 150%;
    color: black;
  }
  */