.card {
  position: relative;
  /*
  text-align: center;
  align-content: center;
  border: 2px solid grey;
  */
}
.face {
  width: 80px;
  height: 80px;
  display: block;
  border: 2px solid grey;
  border-radius: 6px;
  align-content: center;
}

.front {
  text-align: center;
}

/*
.card .face.front {
  text-align: center;
  transform: rotateY(90deg);
  position: absolute;
}

.flipped .face.front {
  transform: rotateY(0deg);
}
*/


/*
.card {
    text-align: center;
    align-content: center;
    border-radius: 0px;
    border: 2px solid grey;
    font-size: 150%;
    color: black;
  }
  */